h1
{
  margin-left: 60px;
}
body {

    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color:white;
  }
  
  p {
    font-size: 16px;
  }
  
  
  label {
    font-size: 30px;
  }
  
  .container {
    width: 80%;
    margin: auto;
    overflow: hidden;
  }
  
  .contact-containter {
    width: 1100px;
    margin: auto;
    overflow: hidden;
  }
  
  

  
  .flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
  
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  
    flex-flow: row-reverse wrap;
        justify-content: space-around;
  }
  
  .flex-item {
    background:skyblue;
    padding: 5px;
    width: 250px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
  }
  
  
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    margin: 10px;
  }
  
  .price {
    color: white;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }
  
  h4 {
    margin: 0;
    padding: 0;
    font-size: 20px;
  }
  
  header {
    background:white;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .zoom:hover {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

    
  
  .menu {
    background: white;
    line-height: 2em;
  }
  
  
    nav {
      display: flex;
      flex-direction: row;
      }
    nav a:hover {
      color: black;
      background: lightseagreen;
      }
      
      * {box-sizing:border-box}
      nav {
        display: none;
        clear: both;
        justify-content: center;
        background: white;
        flex-direction: column;
        margin-right:200px ;
      }
      
      
      nav {
        display: none;
        clear: both;
        justify-content: center;
        background: white;
        flex-direction: column;
        margin-right:200px ;
      }
      
      nav a {
        padding: 1.25em 1.5em;
        background: white;
        text-decoration: none;
        color:black;
        font-weight: bold;
        margin-left: 40px;
      }
      
      
      .menu {
        background: white;
        line-height: 2em;
      }
      
      
        nav {
          display: flex;
          flex-direction: row;
          }
        nav a:hover {
          color: black;
          background: lightseagreen;
          }
          
          * {box-sizing:border-box}
    
    .slideshow-container {
      max-width: 1200px;
      position: relative;
      margin: auto;
      margin-left: 50px;
    }
    
.smallerFont {
  font-size: 40px;
  color:red;
  margin-bottom: 0px;
}

.bigFont {
  color: blueviolet;
  font-size: 40px;
}
      
footer {
  left: 0;
  bottom: 0;
  width: 100%;
  position: auto;
  background-color:blueviolet;
  color: white;
  text-align: center;
}
div.social {
  margin-top: 5px;
  letter-spacing: 2px;
  padding-bottom: 20px;
  padding-top: 20px;
}

h2 {
  font-family: Open Sans;
  font-size: 30px;
  color:black;
  margin-left: 50px;
  font-weight: bold;
}
.slider2 {
  object-fit: cover;
  width: 300px;
  height: 250px;
  margin-left: 150px;
}

.btn {
  background-color: blueviolet; 
  margin-left: 30px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.card button:hover {
  opacity: 0.7;
}
.flex-item-contact {
  background: #e8491d;
  padding: 5px;
  width: 500px;
  height: auto;
  color: white;
  text-align: center;
}


